<div id="aggregates" class="container"></div>

<script>
  import type { Account } from "../js/accounts";
  import { toNear } from "../js/utils";
  const container = document.querySelector("#aggregates");

  // cache old accounts to avoid pointless recalculation every render
  let oldAccounts: Account[] = null;

  if (container) {
    window.renderers.push(async function renderAccounts({ accounts }) {
      if (!accounts.length) return;

      // can use simple equality check due to how accounts are cached
      if (oldAccounts === accounts) return;
      oldAccounts = accounts;

      const totals = {
        "Total Locked": 0,
        "Grand Total": 0,
      };

      accounts.forEach((account) => {
        totals["Total Locked"] += account.lockup_info["Locked Amount"];
        totals["Grand Total"] +=
          toNear(account.native_balance) +
          account.lockup_info["Owner's Balance"] +
          account.lockup_info["Locked Amount"] +
          toNear(account.staked_balance);
      });

      container.innerHTML = `<p style="text-align: center">${Object.entries(
        totals
      )
        .map(
          ([label, value]) =>
            `${label}: ${window.utils.formatLargeNum(value, { convertYocto: false })}<br>`
        )
        .join("")}</p>`;
    });
  }
</script>
